* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
}

body {
  background: #e6f2ff;
  height: 100vh;
}

.bg {
  background: url("background.jpg") center/cover no-repeat;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.kotak {
  width: 90%;
  max-width: 1250px;
  height: 85vh;
  margin: 50px auto;
  background: white;
  border-radius: 25px;
  display: grid;
  grid-template-columns: 50% 50%;
  overflow: hidden;
  box-shadow: 0px 20px 45px rgba(0, 0, 0, 0.2);
}

.kiri {
  position: relative;
}
.kotakk {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.kanan {
  padding: 100px 90px;
}

.title {
  font-size: 48px;
  color: #212121;
  margin-bottom: 50px;
}
.title span {
  background: linear-gradient(90deg, #8fcef5, #4986db);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.label {
  font-size: 11px;
  color: #616161;
}
.pw {
  margin-top: 20px;
}

.input {
  width: 100%;
  padding: 13px;
  font-size: 16px;
  border: 1px solid #212121;
  margin-top: 5px;
}

.remember {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-top: 10px;
}
.remember span {
  font-size: 11px;
}

.btn {
  width: 100%;
  margin-top: 25px;
  background: #212121;
  color: white;
  border: none;
  padding: 15px;
  font-size: 16px;
  cursor: pointer;
}

.or {
  text-align: center;
  margin-top: 20px;
  font-size: 13px;
  color: #616161;
}

.icons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 15px;
}
.icons img {
  width: 36px;
  height: 36px;
}

.copy {
  position: absolute;
  font-size: 11px;
  margin-top: 3px;
  color: #616161;
  text-align: center;
  bottom: 45px;
  left: 50%;
  transform: translateX(-50%);
}
